# Menggunakan image Node.js LTS
image: node:lts

# Cache node_modules untuk mempercepat build
cache:
  key:
    files:
      - package-lock.json
  paths:
    - node_modules/
    - .npm/ # Cache untuk npm ci

# Mendefinisikan tahapan pipeline
stages:
  - install
  - quality
  - build

# Tahap Instalasi Dependensi
install_dependencies:
  stage: install
  script:
    - npm ci --cache .npm --prefer-offline # Gunakan npm ci untuk instalasi yang konsisten dan cepat
  artifacts:
    paths:
      - node_modules/ # Simpan node_modules untuk tahap selanjutnya

# Tahap Pemeriksaan Kualitas Kode
lint_code:
  stage: quality
  needs: [install_dependencies] # Jalankan setelah dependensi terinstall
  script:
    - npm run lint

# Tahap Build Proyek
build_project:
  stage: build
  needs: [install_dependencies] # Jalankan setelah dependensi terinstall
  script:
    - npm run build
  # Jika Anda perlu menyimpan hasil build:
  # artifacts:
  #   paths:
  #     - .next/
  #     - build/
  #     - dist/

# Aturan kapan pipeline ini dijalankan
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' # Jalankan untuk Merge Requests
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH # Jalankan untuk commit ke branch default (biasanya main/master) 