/* components/dataTable/DataTable.css */

.col-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 5px; /* Add some padding */
}

.col-header-container .colHeader {
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for long text */
}
.handsontable th.grayed-row-header,
.handsontable th.grayed-col-header {
    color: hsl(var(--muted-foreground));
    background-color: hsl(var(--muted));
    font-weight: normal;
} 

/* Ensure single line height and hide overflow for all data cells */
.handsontable td {
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflow */
} 

.truncate-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Highlight unselected row headers based on filter variable */
.handsontable th.unselected-row-header {
    background-color: #ffe5e5 !important;
}